.accountContent {
  width: 100%;
  height: 105px;
  background-color: #00b6f3;
}
.titleContent {
  display: block;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 600;
  margin: 0 10%;
  padding: 10px;
}
.caretRight {
  margin-right: 4px;
  padding-top: 2px;
}
.titleAccount {
  display: block;
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
  margin: 0 10%;
  padding: 10px;
}
.functionItem {
  background-color: #fff;
}
.functionItemTitle {
  display: flex;
  margin-left: 10%;
}
.functionItemTitle button {
  padding: 10px 25px;
  font-size: 1.7rem;
  color: #000;
  font-weight: 600;
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.functionItemTitleContent.active {
  color: #00b6f3;
  border-bottom: 1px solid #00b6f3;
}
a {
  text-decoration: none;
  color: #000;
}
