.navbar {
  height: 96px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: #ff3366;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 1000;
  font-size: 2.5rem;
}

.navButton {
  margin-left: 2rem;
  border: none;
  color: #fff;
  background-color: #ff3366;
  cursor: pointer;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 10px 15px;
  font-weight: 600;
}

.navButton:hover {
  opacity: 0.9;
}

.user {
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
}

.user:hover {
  opacity: 0.9;
}
